.L-a_sections-container {
  width: 350px;
  height: 512px;
  border-radius: 20px;
}

.L_a_sections-img {
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
}

.L_a_sections-title {
  font: {
    weight: 600;
    size: 22px;
  }
}

.L_a_sections-text {
  font : {
    size: 16px;
  }
}
